@inject IJSRuntime JS

<PageTitle>Evidence</PageTitle>
<h1>Evidence</h1>
<div class="my-3 p-2 border">
    <label>Datum: <input type="date" @bind-value = "Evid.Polozka.Datum"/></label>
    <label>Náklady: <input type="number" @bind-value="Evid.Polozka.Naklady" /></label>
    <label>Výnosy: <input type="number" @bind-value="Evid.Polozka.Vynosy" /></label>
    @if (Evid.IsEditace)
    {
        <button @onclick="Evid.UkoncitEditaci">Ukončit Editaci</button>
    }
    else
    {
        <button @onclick = "Evid.Pridat">Přidat</button>
    }
</div>

<div class="my-3 p-2 border">
    <button @onclick="Evid.ZobrazZaznamy">Zobraz vše</button>
    <button @onclick="Evid.PocetZaznamu">Počet záznamů</button>
    <button @onclick="Evid.Statistiky">Statistiky</button>
</div>

<div class="my-3 p-2 border">
    <p>@((MarkupString)Evid.Vypis)</p>
</div>

@if (!Evid.Polozky.Any())
{
    <p><em>Nejsou zatím žádné záznamy</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Náklady</th>
                <th>Výnosy</th>
                <th>Zisk</th>
                <th>Smazat</th>
                <th>Edituj</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Evid.Polozky)
            {
                <tr class="@GetCssClassForTR(item)">
                    <td>@item.Datum</td>
                    <td>@item.Naklady.ToString("C2")</td>
                    <td>@item.Vynosy.ToString("C2")</td>
                    <td>@item.Zisk.ToString("C2")</td>
                    <td>
                        <button class="text-danger" @onclick="()=>Evid.SmazatZaznam(item)">&times;</button>
                    </td>
                    <td>
                        <button class="text-info" @onclick="()=>Evid.Editace(item)">&plusmn;</button>
                    </td>
                </tr>
            }
           
           
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        Evid = new Models.Evidence(JS);
    }

    private Models.Evidence Evid { get; set; }

    private string GetCssClassForTR(Models.Polozky item)
    {
        return Evid.Polozka == item ? "table-primary" : "";
    }
    // private async Task SmazatZaznam(Models.Polozky item)
    // {
    //     var zprava = $"Chcete smazat {item.Datum} - Zisk: {item.Zisk} z vašeho seznamu?";
    //     //JS.InvokeVoidAsync("alert", zprava);
    //     if(await JS.InvokeAsync<bool>("confirm", zprava))
    //     {
    //         Evid.Polozky.Remove(item);
    //     }
    // }
}
